/*
 * MGSUVD Device Tree Source
 *
 * Copyright 2008 DENX Software Engineering GmbH
 * Heiko Schocher <hs@denx.de>
 *
 * This program is free software; you can redistribute  it and/or modify it
 * under  the terms of  the GNU General  Public License as published by the
 * Free Software Foundation;  either version 2 of the  License, or (at your
 * option) any later version.
 */


/ {
	model = "MGSUVD";
	compatible = "keymile,mgsuvd";
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		PowerPC,866@0 {
			device_type = "cpu";
			reg = <0>;
			d-cache-line-size = <d#16>;
			i-cache-line-size = <d#16>;
			d-cache-size = <d#8192>;
			i-cache-size = <d#8192>;
			timebase-frequency = <0>;  /* Filled in by u-boot */
			bus-frequency = <0>;  /* Filled in by u-boot */
			clock-frequency = <0>; /* Filled in by u-boot */
			interrupts = <f 2>;	// decrementer interrupt
			interrupt-parent = <&PIC>;
		};
	};

	memory {
		device_type = "memory";
		reg = <00000000 4000000>;  /* Filled in by u-boot */
	};

	localbus@fff00100 {
		compatible = "fsl,mpc885-localbus", "fsl,pq1-localbus";
		#address-cells = <2>;
		#size-cells = <1>;
		reg = <fff00100 40>;

		ranges = <
			0 0 f0000000 01000000
		>;  /* Filled in by u-boot */

		flash@0,0 {
			compatible = "cfi-flash";
			reg = <0 0 1000000>;
			#address-cells = <1>;
			#size-cells = <1>;
			bank-width = <1>;
			device-width = <1>;
			partition@0 {
				label = "u-boot";
				reg = <0 80000>;
			};
			partition@40000 {
				label = "env";
				reg = <80000 20000>;
			};
			partition@80000 {
				label = "user";
				reg = <a0000 f60000>;
			};
		};
	};

	soc@fff00000 {
		compatible = "fsl,mpc885", "fsl,pq1-soc";
		#address-cells = <1>;
		#size-cells = <1>;
		device_type = "soc";
		ranges = <0 fff00000 00004000>;

		// Temporary -- will go away once kernel uses ranges for get_immrbase().
		reg = <fff00000 4000>;

		PIC: interrupt-controller@0 {
			interrupt-controller;
			#interrupt-cells = <2>;
			reg = <0 24>;
			compatible = "fsl,mpc885-pic", "fsl,pq1-pic";
		};

		cpm@9c0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "fsl,mpc885-cpm", "fsl,cpm1";
			command-proc = <9c0>;
			interrupts = <0>;	// cpm error interrupt
			interrupt-parent = <&CPM_PIC>;
			reg = <9c0 10>;
			ranges;

			muram@2000 {
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0 2000 2000>;

				data@0 {
					compatible = "fsl,cpm-muram-data";
					reg = <800 1800>;
				};
			};

			brg@9f0 {
				compatible = "fsl,mpc885-brg",
				             "fsl,cpm1-brg",
				             "fsl,cpm-brg";
				reg = <9f0 10>;
				clock-frequency = <3ef1480>;
			};

			CPM_PIC: interrupt-controller@930 {
				interrupt-controller;
				#interrupt-cells = <1>;
				interrupts = <5 2 0 2 20 2>;
				interrupt-parent = <&PIC>;
				reg = <930 20>;
				compatible = "fsl,mpc885-cpm-pic",
				             "fsl,cpm1-pic";
			};

			// MON-1
			serial@a80 {
				device_type = "serial";
				compatible = "fsl,mpc885-smc-uart",
				             "cpm_uart",
				             "fsl,cpm1-smc-uart";
				model = "SMC";
				device-id = <1>;
				reg = <a80 10 3fc0 40>;
				interrupts = <4>;
				interrupt-parent = <&CPM_PIC>;
				fsl,cpm-brg = <1>;
				fsl,cpm-command = <0090>;
				current-speed = <0>; /* Filled in by u-boot */
			};

			ethernet@a40 {
				device_type = "network";
				compatible = "fs_enet",
				             "fsl,cpm1-scc-enet";
				model = "SCC";
				device-id = <3>;
				reg = <a40 18 3e00 b0>;
				mac-address = [ 00 00 00 00 00 00 ];  /* Filled in by u-boot */
				interrupts = <1c>;
				interrupt-parent = <&CPM_PIC>;
				fsl,cpm-command = <80>;
				fixed-link = <0 0 a 0 0>;
			};
		};
	};
};
